.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: url("../img/intro-bg1.jpg") center no-repeat;
    background-size: cover;
    background-color: #241e18;

    .intro__inner {
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        text-align: center;

        .intro__title {
            margin: 0 0 30px;
            font-family: 'Podkova', serif;
            font-size: 50px;
            line-height: 1.1;
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
        }

        .intro__subtitle {
            margin-bottom: 60px;
            font-family: 'Podkova', serif;
            font-size: 28px;
            color: #fff;
            line-height: 1.5;
            font-weight: 400;
        }


        .call-button {
            display: inline-block;
            vertical-align: top;
            padding: 14px 40px;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
            font-family: 'Podkova', serif;
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            transition: background .4s ease-in-out;
            background-color: #a93e3e;
            box-shadow: 3px 3px 3px #a54c4c;
        }
        .call-button:hover {
            background-color: #dd3434;
            
        }
    }


}

