.menu {
	background-color: #241e18;
	background: url("../img/intro-bg2.jpg") repeat-y 100% 0;
	background-size: cover;
}

.menu__content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
}

.c-header {
	display: block;
	width: 100%;
}

.u-a5 {
	font-size: 37px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 500;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	color: #fff;
}

//MEDIA WRAPPER
.u-media-wrapper {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
	height: 0;
	margin: 0 20px;

	&#{&}--16-9 {
		padding-bottom: percentage(9/16);
	}
}

.c-mouse-vertical-carousel {
	position: relative;
	overflow: hidden;

	&__list {
		position: absolute;
		left: 0;
		top: 20%;
		z-index: 1;
		list-style: none;
	}

	&__list-item {
		a {
			display: block;
			padding-bottom: 25px;
			padding-top: 25px;
			padding-left: percentage(13/24);
		}
	}

	&__eyebrow {
		position: relative;
		padding-bottom: 12px;

		span {
			position: absolute;
			left: -30px;
			top: 2px;
		}
	}

	&__title {
		max-width: 450px;
	}

	&__bg-img {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position: center;
		will-change: transform;
	}
}

@media screen and (max-width: 768px) {
	.u-a5 {
		font-size: 27px;

	}


}

@media screen and (max-width: 580px) { 
	.u-a5 {
		font-size: 20px;

	}

	.c-mouse-vertical-carousel {
		position: relative;
		overflow: hidden;
	
		&__list {
			position: absolute;
			left: 0;
			top: 20%;
			z-index: 1;
			list-style: none;
			padding: 0;
		}}
}

@media screen and (max-width: 480px) { 
	.u-a5 {
		font-size: 14px;

	}}
	@media screen and (max-width: 360px) { 
		.u-a5 {
			font-size: 12px;
	
		}}