.menu {
  background-color: #241e18;
  background: url("../img/intro-bg11.jpg") repeat-y 100% 0;
  background-size: cover;
}

.menu__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.menu-button {
  display: none;
  vertical-align: top;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: "Podkova", serif;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.4s ease-in-out;
  background-color: #a93e3e;
  box-shadow: 3px 3px 3px #a54c4c;
  padding: 12px 18px;
  font-size: 12px;
  margin: 80px;
}
.menu-button .call-button:hover {
  background-color: #dd3434;
}

.c-header {
  display: block;
  width: 100%;
}

.u-a5 {
  font-size: 37px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.u-media-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 0;
  margin: 0 20px;
}
.u-media-wrapper.u-media-wrapper--16-9 {
  padding-bottom: 56.25%;
}

.c-mouse-vertical-carousel {
  position: relative;
  overflow: hidden;
}
.c-mouse-vertical-carousel__list {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 1;
  list-style: none;
}
.c-mouse-vertical-carousel__list-item a {
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 54.1666666667%;
}
.c-mouse-vertical-carousel__eyebrow {
  position: relative;
  padding-bottom: 12px;
}
.c-mouse-vertical-carousel__eyebrow span {
  position: absolute;
  left: -30px;
  top: 2px;
}
.c-mouse-vertical-carousel__title {
  max-width: 450px;
}
.c-mouse-vertical-carousel__bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 105%;
  background-size: 110%;
  background-position: center;
  will-change: transform;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .u-media-wrapper {
    display: none;
  }
  .menu-button {
    display: inline-block;
  }
}