body {
  margin: 0;
  font-family: "Podkova", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #1f2020;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 100px;
}
.container .link_qr {
  text-align: center;
  margin-bottom: 60px;
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}
.container .btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.1s linear;
}
.container .btn--red {
  background-color: #e84545;
}
.container .btn--red:hover {
  background-color: #dd3434;
}