.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 860px;
  padding-top: 100px;
  background: url("../img/intro-bg1.jpg") center no-repeat;
  background-size: cover;
  background-color: #241e18;
}
.intro .intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}
.intro .intro__inner .intro__title {
  font-family: "Podkova", serif;
  font-size: 50px;
  line-height: 1.1;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  margin: 30px 20px 30px;
}
.intro .intro__inner .intro__subtitle {
  font-family: "Podkova", serif;
  font-size: 28px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin: 30px 20px 60px;
}
.intro .intro__inner .call-button {
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: "Podkova", serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.4s ease-in-out;
  background-color: #a93e3e;
  box-shadow: 3px 3px 3px #a54c4c;
}
.intro .intro__inner .call-button:hover {
  background-color: #dd3434;
}

@media screen and (max-width: 950px) {
  .intro {
    height: 860px;
  }
  .intro .intro__inner {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
  }
  .intro .intro__inner .intro__title {
    font-size: 40px;
    margin: 30px 20px 30px;
  }
  .intro .intro__inner .intro__subtitle {
    font-size: 22px;
    margin: 30px 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    height: 660px;
  }
  .intro .intro__inner {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
  }
  .intro .intro__inner .intro__title {
    font-size: 30px;
    margin: 30px 20px 30px;
  }
  .intro .intro__inner .intro__subtitle {
    font-size: 18px;
    margin: 30px 20px 30px;
  }
}
@media screen and (max-width: 520px) {
  .intro {
    height: 520px;
  }
  .intro .intro__inner .intro__title {
    font-size: 22px;
    margin: 10px 20px 30px;
  }
  .intro .intro__inner .intro__subtitle {
    font-size: 14px;
    margin: 30px 20px 30px;
  }
  .intro .intro__inner .call-button {
    margin-top: 0;
    padding: 12px 18px;
    font-size: 14px;
  }
}