.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        margin: 0 20px;

        .header__burger {
            display: flex;
            justify-content: end;
            display: none;
        }

        .nav {
            display: flex;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0 20px;
            width: 100%;
            justify-content: end;

            .nav__link {
                margin-left: 3%;
                color: #fff;
                text-decoration: none;
                opacity: .90;
                transition: opacity .1s linear;
            }

            .nav__link:first-child {
                margin-left: 0;
            }

            .nav__link:hover {
                opacity: 1;
            }
        }
    }

    .header__logo {
        width: 25%;
    }
}


@media screen and (max-width: 950px) {

    .header {
        .header__inner {
            .nav {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .header {
        .header__inner {
            .header__burger {
                display: block;
                width: 30px;
                height: 20px;
                position: relative;

                span {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    top: 9px;
                    transition: ease-in 0.5s;
                }
            }

            .header__burger::before,
            .header__burger::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                left: 0;
                transition: ease-in 0.3s;
            }

            .header__burger::after {
                bottom: 0;
            }

            .header__burger::before {
                top: 0;
            }

            .header__burger.active::before {
                transform: rotate(315deg);
                top: 9px;
            }

            .header__burger.active::after {
                bottom: 9px;
                transform: rotate(-315deg);
            }

            .header__burger.active span {
                display: none;
            }

            .nav {
                font-size: 16px;
                position: absolute;
                width: 20%;
                height: 86px;
                top: -500px;
                right: 40px;
                flex-direction: column;
                transition: ease-out 0.3s;

                .nav__link {
                    margin-left: 0;
                    margin-bottom: 5px;
                    text-align: right;
                }
            }

            .nav.active {
                top: 50px;
                width: 200px;
            }
        }
    }

    .header__logo {
        width: 20%;
    }
}


@media screen and (max-width: 430px) {

    .header {
        .header__inner {
            .nav {
                font-size: 12px;
                width: 20%;
                height: 86px;
                
                .nav__link {
                    margin-left: 0;
                    margin-bottom: 5px;
                    text-align: right;
                }
            }

            .nav.active {
                top: 18px;
                right: 60px;
                margin-right: 0;
                font-size: 12px;
            }
        }
    }
 }

 @media screen and (max-width: 350px) {

    .header {
        .header__inner {
          
            .nav.active {
                top: 9px;
                right: 60px;

                font-size: 10px;
            }
        }
    }
 }